<% regions.each do |region| %>
  <ul>
    <li>
      <h4><%= link_to region.name, region %></h4>
      <div class="add_category"><%= link_to "Add a Category", [:new, region, :category] %></div>
    </li>
    <ul>
      <%= render region.categories %>
    </ul>
  </ul>
<% end %>