<% posts.each do |post| %>
  <% if post.user.id == @user.id %>
    <li>
      <%= link_to post.title, post %>
      ...
      posted <%= time_ago_in_words(post.created_at) %> ago
    </li>
  <% end %>
<% end %>